<html>
<head>
    <title>Secure File Scan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="{{ url_for('static', filename='logo2a.png') }}" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>      
        </div>
        <div class="wrapper" >
            <form method="POST" action="{{ url_for('login') }}">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}

                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" name="email" placeholder="Username" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="password" name="password" placeholder="Password" required>
                    <box-icon name='lock-alt' type='solid'></box-icon>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Remember me
                    </label>
                    <a href="#">Forgot password?</a>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

                <button type="submit" class="btn"><span></span>Login</button>

                <div class="register-link">
                    <p>Don't have an account? <a href="/signup">Register</a></p>
                </div>
            </form>
        </div>    
    </div>
</body>
</html>
