<!-- results2.html -->
<!DOCTYPE html>
<html lang="en"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Secure File Scan</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../../vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../../vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../../vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="style2.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png">
  </head>
  
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">   
        <div class="navbar-menu-wrapper d-flex align-items-top"> 
          
          <ul class="navbar-nav ms-auto">
            
            <li class="nav-item dropdown d-none d-lg-block user-dropdown">
              <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle" src="{{ url_for('static', filename='logo2a.png') }}" alt="Profile image"> </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <img class="img-md rounded-circle" src="images/faces/face8.jpg" alt="Profile image">
                  <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                  <p class="fw-light text-muted mb-0">allenmoreno@gmail.com</p>
                </div>
                
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
        


          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </nav></div>
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close ti-close"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
            <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default"></div>
            </div>
          </div>
        </div>
        
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        
        <!-- partial -->
        <div class="main-panel">        
          <div class="content-wrapper">
            <div class="row">
              
                <div class="col-md-8 mx-auto">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Internal Malware Analysis</h4>
                    <form class="forms-sample">
                      <div class="form-group row">
                        
                        <div class="col-sm-9">
                          <h4 class="card-title">File Hash:</h4>
                          <div class="wrapper ms-3">
                            <div class="badge badge-opacity-warning">{{ malware_hash }}</div>
                            <h4 class="card-title"></h4>
                      
                          </div>
                          <h4 class="card-title">File Name:   {{ malware_name }}</h4> 
                          <h4 class="card-title">Target System: {{ Target }}</h4>
                          <h4 class="card-title">YARA rule:</h4>
                          <div class="form-group row">
                            <div class="col-sm-9">
                              <textarea class="form-control custom-textarea" style="resize: vertical; min-height: 400px;" readonly>{{ rule }}</textarea>
                            </div>
                          </div>
                          <h4 class="card-title">Description:</h4>
                          <div class="wrapper ms-3">
                            
                            <h5 class="card-title">{{ description }}</h5>
                          </div>
                        </div>
                      </div>
                                
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="content-wrapper">
            <div class="row">
              
                <div class="col-md-8 mx-auto">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">External Malware Analysis: Virus Total API</h4>
                    <form class="forms-sample">
                      <div class="form-group row">
                        
                        <div class="col-sm-9">
                          <h4 class="card-title">File Hash:</h4>
                          <div class="wrapper ms-3">
                            <div class="badge badge-opacity-warning">{{ virus_total_info.data.id }}</div>
                            <h4 class="card-title"></h4>
                      
                          </div>    
                        </div>
                      </div>
                      <div class="form-group row">
                        
                        <div class="col-sm-9">
                          <h4 class="card-title">Names:</h4>
                          {% for i in range(0, name_len) %}
                          <div class="wrapper ms-3">
                            <h4 class="card-title">{{ names[i] }}</h4>
                            <h4 class="card-title"></h4>
                      
                          </div> 
                          {% endfor %}   
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9">
                          <h4 class="card-title">Attributes:</h4>
                          <div class="wrapper ms-3">
                            <h4 class="card-title">Type Description: {{ type_description }}</h4>
                            <h4 class="card-title">Type tags:</h4>
                            {% for i in range(0, tag_length) %}
                             <div class="wrapper ms-3"> 
                              <h4 class="card-title">{{ type_tags[i] }}</h4>
                             </div>
                             {% endfor %}
                            <h4 class="card-title"></h4>
                      
                          </div>    
                        </div>
                      </div>



                      <div class="form-group row">
                        
                        <div class="col-sm-9">
                          <h4 class="card-title">Crowdsourced YARA Results:</h4>
                          {% for i in range(0, length) %}
                          <div class="wrapper ms-3">
                              <h4 class="card-title">Rule Name: {{ rule_name[i] }}</h4>
                              <h4 class="card-title">Rule set Name: {{ ruleset_name[i] }}</h4>
                              <h4 class="card-title">Author: {{ author[i] }}</h4>
                              <h4 class="card-title">Description:</h4>
                                <div class="wrapper ms-3">
                                  <h5 class="card-title">{{ description1[i] }}</h5>
                                </div>
                              <h4 class="card-title">Source: <a href="{{ source[i] }}" target="_blank">{{ source[i] }}</a></h4>
                          </div>
                          {% endfor %}
                      </div>
                      
                        
                      </div>
                      
                      
                    
                    
                    
                    
                      <div class="form-group row">
                        
                        <div class="col-sm-9">
                            
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-9 offset-sm-9">
                            
                            
                        </div>
                    </div>                    
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="content-wrapper">
            <div class="row" style="padding-top: 20px;">
              
                <div class="col-md-8 mx-auto mt-4" style="padding-top: 20px;">
                <div class="card" style="padding-top: 20px;">
                  <div class="card-body">
                    <h4 class="card-title">External Malware Analysis : Malware Bazaar API</h4>
                    <form class="forms-sample">
                      <div class="form-group row">
                        
                        <div class="col-sm-9">
                          <h4 class="card-title">SHA256 Hash:</h4>
                          <div class="wrapper ms-3">
                            <div class="badge badge-opacity-warning">{{ malware_bazaar_info.data[0].sha256_hash}}</div>
                            <h4 class="card-title"></h4>
                      
                          </div>    
                        </div>
                      </div>
                      <div class="form-group row">
                        
                        <div class="col-sm-9">
                          <div class="badge badge-opacity-warning">SHA256: {{ malware_bazaar_info.data[0].sha256_hash}}</div>
                        </div>
                      </div>
                      <div class="form-group row">
                        
                        <div class="col-sm-9">
                          <div class="badge badge-opacity-warning">Rule Name</div> <div class="badge badge-opacity-warning">Author</div><div class="badge badge-opacity-warning">Reference</div>
                        </div>
                      </div>
                      <div class="form-group row">
                        {% for rule in malware_bazaar_info.data[0].yara_rules %}
                          <div class="col-sm-9">
                            <div class="badge badge-opacity-warning">{{ rule.rule_name }}</div> <div class="badge badge-opacity-warning">{{ rule.author }}</div> <div class="badge badge-opacity-warning">{{ rule.reference }}</div>
                          </div>
                        {% endfor %}
                      </div>
                      
                      <div class="form-group row">
                        <div class="col-sm-9 offset-sm-9">
                            
                            
                        </div>
                    </div>                    
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
            
            
            
            
            
            
            
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <script src="../../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="../../vendors/select2/select2.min.js"></script>
    <script src="../../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="../../js/file-upload.js"></script>
    <script src="../../js/typeahead.js"></script>
    <script src="../../js/select2.js"></script>
    <!-- End custom js for this page-->
  
  
  
  </body></html>